[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/geetasg
[access "refs/for/refs/*"]
	read = group user/geetasg
	push = group user/geetasg
	label-Code-Review = -2..+2 group user/geetasg
	label-Verified = -1..+1 group user/geetasg
	rebase = group user/geetasg
	removeReviewer = group user/geetasg
	submit = group user/geetasg
[access "refs/heads/*"]
	read = group user/geetasg
	create = group user/geetasg
	push = +force group user/geetasg
	pushMerge = group user/geetasg
[access "refs/tags/*"]
	push = +force group user/geetasg
	pushTag = group user/geetasg
	pushSignedTag = group user/geetasg
